/* tag name 
    class name
    id name*/

/* p{
    color: blue;
} */

/* span{
    color: red;
} */

/* p{
    color: brown;
} */

/* .red{
    color: red;
}

#name{
    color: blue;
} */

*{
    
}
body{}
p{

}

h1{

}
a{

}

.about-me{
    color: red;
}

h1{
    color: blue;
}